@import 'tailwindcss';

@theme {
	--color-blue-100: #1d324f;
	--color-blue-200: #14243b;
	--color-blue-300: #0b1423;
	--color-offWhite: #e5e0d9;
}

@utility scrollbar-hidden {
	&::-webkit-scrollbar {
		display: none;
	}
}
